<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CacheService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HNTaxi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HNTaxiKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NetworkService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6AF8D9381EC9670A00F9D951</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>6AF8D9521EC967CF00F9D951</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>6AF8D9641EC967E700F9D951</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>6AF8D9751EC967F600F9D951</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
